BASE_URL={{ plausible_base_url }}
SECRET_KEY_BASE={{ plausible_secret_key_base }}
DISABLE_REGISTRATION={{ plausible_disable_registration | ternary('true', 'false') }}
TMPDIR=/var/lib/plausible/tmp
TZ={{ plausible_timezone }}

DATABASE_URL=postgres://{{ plausible_postgres_user }}:{{ plausible_postgres_password }}@postgres:5432/{{ plausible_postgres_db }}
CLICKHOUSE_DATABASE_URL=http://clickhouse:8123/plausible_events_db

SMTP_HOST={{ plausible_smtp_host }}
SMTP_PORT={{ plausible_smtp_port }}
SMTP_USER_NAME={{ plausible_smtp_user }}
SMTP_USER_PWD={{ plausible_smtp_password }}
SMTP_HOST_ADDR={{ plausible_smtp_from }}

